        *{
        margin: 0;
        padding: 0;
        }
        .color-palette{
        /* margin-top: 10px; */
        display: flex;
        align-content:center;
        justify-content: center;
        margin-top: 300px;
        }
        .square-box{
        height: 100px;
        width: 100px;
        border: 2px solid black;
        margin: 25px;
        background-color: brown;
        color: silver;


        }
        .round-circle{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 2px solid black;
        margin: 25px;
        background-color: green;
        color: silver;
        text-align: center;


        }.round-circle p{
        margin: 35px;
       
        }

        .square-box p {
         
         margin:25px 25px 25px 25px;
          
         
        }
